@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Fira+Sans+Condensed:wght@600&family=Libre+Franklin:wght@300&display=swap');

// scss-docs-start theme-color-variables
$primary:       #ff006e  !default;
$secondary:    #3a86ff  !default;
$info:           #8338ec  !default;
$warning:       #ffbe0b!default;
$danger:        #fb5607 !default;
// scss-docs-end theme-color-variables


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

article img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

h1{
    font-family: 'Fira Sans Condensed', sans-serif;
}
h2 {
    font-family: 'Cabin', sans-serif;
}

p{
    font-family: 'Libre Franklin', sans-serif;
}


