// scss-docs-start theme-color-variables
$primary:       #ff006e  !default;
$secondary:    #3a86ff  !default;
$info:           #8338ec  !default;
$warning:       #ffbe0b!default;
$danger:        #fb5607 !default;
// scss-docs-end theme-color-variables


@import "../../node_modules/bootstrap/scss/bootstrap.scss";



